{% extends "account-settings.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
<div class="form">
    <div class="mb-3">
        <h2 class="border-radius-title">Change password</h2>
    </div>
    <form action="/change-password" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-75" id="current-password" name="current-password" placeholder="Current password" type="password" required>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-75" id="new-password" name="new-password" placeholder="New Password" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
            <p class="mx-auto w-75" id="password-requirements">Must contain at least one digit, one uppercase and one lowercase letter, and be at least 8 characters long.</p>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-75" id="confirm-new-password" name="confirm-new-password" placeholder="Confirm new password" type="password" required>
        </div>
        <div class="mb-3">
            <a href="/account-settings" class="btn btn-secondary">Cancel</a>
            <button class="btn btn-primary" type="submit">Save changes</button>
        </div>
    </form>
</div>

<script>
    const passwordInput = document.getElementById('new-password');
    const passwordHelp = document.getElementById('password-requirements');

    passwordInput.addEventListener('input', function() {
      if (!this.validity.valid) {
        passwordHelp.style.display = 'block';
      } else {
        passwordHelp.style.display = 'none';
      }
    });
</script>
{% endblock %}