{% extends "layout.html" %}

{% block title %}
    Search results
{% endblock %}

{% block main %}

{% if results %}
<h1 class="previous-date">Search results</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-start">ID</th>
            <th class="text-start">Name</th>
        </tr>
    </thead>
    <tbody>
        {% for result in results %}
        <tr>
            <td class="text-start"><a href="/patient/{{ result.id }}">{{ result.id }}</a></td>
            <td class="text-start"><a href="/patient/{{ result.id }}">{{ result.fullname }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% if not results %}
<p class="form">No results found.</p>
{% endif %}

{% endblock %}